/* Resets */
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

/* 1 rem */


body {
  box-sizing: border-box;
  font-family: 'Montserrat', serif;

}

a {
  text-decoration: none;
  color: #fff;
}

p {
  font-size: 1.7rem;
  color: #666;
}

/* Grid system */

.container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  margin: 1.5rem;
  border-radius: 0.6rem;
}

/* Card system */
.card {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(/assets/images/func1.jpg);
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

}

.carv-card {
  background-image: url(/assets/images/carv.jpg);
}

.acom-card {
  background-image: url(/assets/images/acom.jpg);
}

.food-card {
  background-image: url(/assets/images/food.jpg);
}

.card p {
  color: #fff;
}

/*Ul's*/
ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

ul li {
  list-style: none;
}

ul li a {
  padding: 1rem;
  display: inline-block;
  transition: color .25s ease-in-out;
}

ul li a:hover {
  color: rgb(197, 157, 95);
}



/* Navbar*/

.nav-desk {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s ease-in-out;
  color: #fff;
  font-size: 1.5rem;
}

.nav-active {
  background-color: #666;
  box-shadow: 5px -1px 12px -5px grey;
}

.logo {
  font-family: 'Great Vibes', serif;
  color: rgb(197, 157, 95);
  font-size: 5rem;
  padding-right: 6rem;
}

.room-booking {
  background-color: rgb(197, 157, 95);
}

.room-booking :hover {
  color: #fff;
}

ul li {
  padding: 1rem;
  display: inline-block;
  transition: color .25s ease-in-out;
}

.test {
  font-size: 1.5rem;
  padding: 2rem;
  background-color: rgb(197, 157, 95);
  color: #fff;
  border: none;
  border-radius: 0.5rem;

}

.test:hover {
  background-color: goldenrod;
}


/* Hero section */

.hero-image {
  background-color: #666;
  background-image: url("/assets/images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  z-index: -1;


}

.hero-outer {
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
}

.hero-text {
  color: #fff;
  z-index: 1;
  position: relative;
  font-family: 'Great Vibes', serif;
  font-size: 3.5rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
  top: auto;
  bottom: auto;

}

.break-line {
  color: rgb(197, 157, 95);
  width: 4rem;
  border: 0.1rem solid rgb(197, 157, 95);
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 0.5rem;

}


/* Welcome area*/

.welcome .row {
  justify-content: center;

}



/* Offers area */


/* Footer area */

.footer {

  background-color: #666;
  text-align: center;
  height: 5rem;

}


/* Contact area */

.contact {
  background-color: black;
  height: 50rem;
  margin-bottom: 5rem;
}

.section {
  margin-top: 10rem;
  margin-bottom: 10rem;
}



.offers-card {
  max-width: calc(50% - 20px);
  margin: 1rem;
}

.food-card {

}