/* Resets */
*,
*::after,
*::before {
padding: 0;
margin: 0;
box-sizing: inherit;
}

html {
  font-size: 62.5%; /* 1 rem */
}


body {
  box-sizing: border-box;
  font-family: "Sedan", 'Montserrat', serif;

}

a {
  text-decoration: none;
  color: #fff;
}

p {
  font-size: 1.7rem;
  color: #546270;
}

h2 {
  font-size: 2.7rem;
}

/* Grid system */

.container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* margin-left: -1.5rem;
  margin-right: -1.5rem; */
}

.column {
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
  /* margin: 1.5rem; */
  border-radius: 0.6rem;
}

.column--50{
  width: calc(50% - 30px);
}

/* Card system */

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;

}


/*Ul's*/
ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

ul li {
  list-style: none;
}

ul li a {
  padding: 1rem;
  display: inline-block;
  transition: color .25s ease-in-out;
}

ul li a:hover {
  color: rgb(197, 157, 95);
}

.fab {
  padding: 1rem;
  display: inline-block;
  transition: color .3s ease-in-out;
}

.fab:hover {
  color: rgb(209, 144, 44);
}





/* Navbar*/

.nav-desk {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.3s ease-in-out;
  color: #fff;
  font-size: 1.5rem;
}

.nav-active {
  background-color: #546270;
  box-shadow: 5px -1px 12px -5px grey;
}

.logo {
  font-family: 'Great Vibes', serif;
  color: rgb(197, 157, 95);
  font-size: 5rem;
  padding-right: 8rem;
}

.room-booking {
  background-color: rgb(197, 157, 95);
}

.room-booking :hover {
  color: #fff;
}

ul li {
  padding: 1rem;
  display: inline-block;
  transition: color .25s ease-in-out;
}

.btn {
  font-size: 1.5rem;
  padding: 2rem;
  background-color: rgb(197, 157, 95);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out;

}

.btn:hover {
  background-color: rgb(209, 144, 44);
  transition: 0.3s ease-in-out;
}


/* Hero section */

.hero-image {
  background-color: #546270;
  background-image: url("/assets/images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  z-index: -1;


}

.hero-outer {
  position: relative;
  height: 70vh;
  display: flex;
  align-items: center;
  margin-bottom: 5rem;
}

.hero-text {
  color: #fff;
  z-index: 1;
  position: relative;
  font-family: 'Great Vibes';
  font-size: 3.5rem;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
  top: auto;
  bottom: auto;
  margin-bottom: 3rem;

}

.break-line {
  color: rgb(197, 157, 95);
  width: 4rem;
  border: 0.1rem solid rgb(197, 157, 95);
  margin: auto;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  margin-top: 0;

}

.logo-single {
  font-size: 10rem;
}


/* Welcome area*/

.welcome {
  display: flex;
  justify-content: center;
} 

.welcome-logo {
  font-family: 'Great Vibes';
  color: rgb(197, 157, 95);
  font-size: 5rem;
}

.welcome-text {
  max-width: 70%;
 justify-content:center ;
 text-align: center;
}




/* Offers area */

.offers {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.offers-card {
  /* width: 50%;
  max-width: calc(50% - 20px); */
  margin: 0.5rem;
  color: #fff;
}

.carv-card {
  background-image: url(/assets/images/carv.jpg);
}

.acom-card {
  background-image: url(/assets/images/acom.jpg);
}

.food-card {
  background-image: url(/assets/images/food.jpg);
}

.funct-card {
  background-image: url(/assets/images/func1.jpg);
}

.card p {
  color: #fff;
}

.offers-card h2 {
  font-size: 4rem;
  margin-bottom:2rem ;

}


.cards-btn {
  margin-top: 2rem;
  border-radius: 0.5rem;
}

/* Function room & Photos carousel */

.function-area {
  display: flex;
  justify-content: center;
}

.function-text {
  max-width: 70%;
  justify-content:center ;
  text-align: center;
  margin-bottom: 5rem;
  
 }


.function-photos img{
  width: 100%;
  height: 50rem;
  object-fit: cover;
}

/* Contact area */



.contact {
  margin-top: 3.5rem; 
  color: srgb(112,128,144);
  margin-bottom: 3.5rem;
}

.contact-card {
  width: 50%;
  max-width: calc(50% - 20px);
  margin: 0.5rem;
  color:#546270;
  border: 0.2rem solid  rgb(197, 157, 95);
}

.contact-card h2 {
  margin-bottom: 2rem;
}

.contact-card p {
  color: #546270;
  margin: 0.2rem;
}




/* Map area */

.footer-map {
  width: 100%;
  height: fit-content;
  margin-bottom: 5rem;
}

.google-map {
  width: 100%;
}


/* Footer area */

.footer-row {
  background-color: #546270;
  width: 100%;
  font-size: 2rem;
  /* margin-bottom: -1; */
}

.logo-footer {
  margin-right: 50rem;
}

.social-networks {
  color: rgb(197, 157, 95);
  font-size: 5rem;
}

