
/* Footer area */

.footer{
  &-row {
    background-color: #546270;
    width: 100%;
    font-size: 2rem;
    /* margin-bottom: -1; */
 
  }
  &-info {
    width: 100%;
    background-color: #546270;
    color: #fff;

    p {
      float: right;
      margin-right: 20rem;
      color: #fff;
      margin-bottom: 2rem;
    }
  }
  .logo-footer {
    font-size: 4rem;
    margin-right: 10rem;
  }
  
  .social-networks {
    color: rgb(197, 157, 95);
    font-size: 3rem;
  }
}