
/* Footer area */

.footer{
  background-color: #546270;
  width: 100%;
  font-size: 2rem;
  padding-top: 25px;
  padding-bottom: 25px;
  p {
    color: #fff;
    margin-bottom: 0;
  }
  &-info {
    width: 100%;

    background-color: #546270;
    color: #fff;
    @media only screen and (min-width: 1024px){
      text-align: right;
    }
 
  }
  &-logo{
    font-family: 'Great Vibes', serif;
    color: rgb(197, 157, 95);
    font-size: 5rem;
  
  }
  
  .social-networks {
    color: rgb(197, 157, 95);
    font-size: 3rem;
  }
  &-nav{
    margin-bottom: 15px;
    li{
    &:last-child{
      a,i{
        @media only screen and (min-width: 1024px){
        padding-right: 0;
        }
      }
    }
    }
  }
}