
/* Carvery area */

.Carvery-section { 
    margin-top: 15rem;
  }
  
  .carvery-card {
    margin: 0.5rem;
    color:#546270;
    /* border: 0.2rem solid  rgb(197, 157, 95); */
  }
  
  .carvery-card h2 {
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .carvery-card p {
    color: #546270;
    margin: 0.2rem;
  }
  
  .sunday-menu-link {
    color: #9e7739;
  }