
/* Hero section */
.hero{
  &-outer {
    position: relative;
    height: 70vh;
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
  
  .hero{
    &-image {
      background-color: #546270;
      background-image: url("/assets/images/hero1.jpg");
      background-repeat: no-repeat;
      background-position: center center;
      width: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-size: cover;
      z-index: -1;
    }
    &-text {
      color: #fff;
      z-index: 1;
      position: relative;
      font-family: 'Great Vibes';
      font-size: 3.5rem;
      text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
      top: auto;
      bottom: auto;
      margin-bottom: 3rem;
      letter-spacing: .2rem;
    
    }
  }

  }
}