
/* Welcome area*/

.welcome {
    display: flex;
    justify-content: center;
  } 
  
  .welcome-logo {
    font-family: 'Great Vibes';
    color: rgb(197, 157, 95);
    font-size: 5rem;
  }
  
  .welcome-text {
    max-width: 70%;
   justify-content:center ;
   text-align: center;
   letter-spacing: .1rem;
  }